<div class="center-form">
  <button nz-button nzType="primary" class="post-room-btn" routerLink="/admin/room">Post Room</button>

  <div class="room-container">
    <div class="room-row" *ngFor="let room of rooms">
      <nz-card class="room-card" [nzActions]="[actionEdit, actionDelete]">
        <div class="room-card-content">
          <nz-avatar class="room-avatar" [nzSrc]="hotelRoomImage"></nz-avatar>

          <div class="room-details">
            <div class="room-name">{{ room.name }}</div>
            <div class="room-meta">Type: {{ room.type }}</div>
            <div class="room-meta">Price: {{ room.price }}</div>
          </div>
        </div>
      </nz-card>
      <ng-template #actionEdit>
        <span nz-icon nzType="edit" nzTheme="twotone" class="icon"></span>
      </ng-template>
      <ng-template #actionDelete>
        <span nz-icon nzType="delete" nzTheme="twotone" class="icon" [nzTwotoneColor]="'#FF0000'"></span>
      </ng-template>
    </div>
  </div>

  <div class="pagination" *ngIf="totalPages > 0">
    <nz-pagination
      [nzPageIndex]="currentPage"
      [nzTotal]="totalPages"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="pageIndexChange($event)"
    ></nz-pagination>
  </div>
</div>
