<div class="center-form">
  <h1 class="page-title">Reservations</h1>

  <nz-table #basicTable [nzShowPagination]="false" [nzData]="reservations">
    <thead>
      <tr>
        <th>Room Name</th>
        <th>Room Type</th>
          <th>Check In Date</th>
          <th>Check Out Date</th>
          <th>Price</th>
          <th>Username</th>
          <th>Status</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (reservation of basicTable.data; track reservation.id) {
        <tr>
          <td>{{ reservation.roomName }}</td>
          <td>{{ reservation.roomType }}</td>
          <td>{{ reservation.checkInDate }}</td>
          <td>{{ reservation.checkOutDate }}</td>
          <td>{{ reservation.price }}</td>
          <td>{{ reservation.userName }}</td>
          <td>{{ reservation.reservationStatus }}</td>
          <td></td>
        </tr>
      }
    </tbody>

  </nz-table>
  <div class="pagination">
    <nz-pagination (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="pageSize"></nz-pagination>
  </div>
</div>
