<div class="center-form">
  <img src="images\logo.png" alt="Logo" class="logo">
  <h2>Enter Details to Register</h2>
  <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">

    <nz-form-item>
      <nz-form-control nzErrorTip="Please imput your name!">
        <ng-template #prefixIdCard>
          <span nz-icon nzType="idcard"></span>
        </ng-template>
        <nz-input-group [nzPrefix]="prefixIdCard">
          <input type="text" nz-input formControlName="name" placeholder="Enter name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please imput your email!">
        <ng-template #prefixUser>
          <span nz-icon nzType="user"></span>
        </ng-template>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="email" placeholder="Enter email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please imput your password!">
        <ng-template #prefixLock>
          <span nz-icon nzType="lock"></span>
        </ng-template>
        <nz-input-group [nzPrefix]="prefixLock">
          <input type="text" nz-input formControlName="password" placeholder="Enter password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzBlock type="submit" [disabled]="registerForm.invalid" class="w-100">
      Register
    </button>

  </form>
</div>
